* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Overpass", sans-serif;
}

img,
picture,
video,
canvas,
svg {
  max-inline-size: 100%;
  block-size: auto;
}

a {
  text-decoration: none;
  color: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

ol,
li {
  list-style: none;
}

button {
  border: none;
  background: none;
  font: inherit;
  color: inheritF;
  cursor: pointer;
}

main {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  min-height: 100vh;
  background-color: #121417;
  padding: 20px;
}

.card {
  width: 100%;
  max-width: 410px;
  height: 417px;
  background-color: #262e38;
  padding: 35px;
  margin: 20px !important;
  border-radius: 20px;
  opacity: 0;
}

.swal2-popup {
  display: flex !important;
  align-items: center;
}

.card-selected {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
}
.card-selected img {
  width: 42%;
  padding-bottom: 20px;
}
.card-selected .option-txt {
  color: #fb7413;
  font-size: 15px;
  background-color: rgba(124, 135, 152, 0.2117647059);
  padding: 6px 14px;
  border-radius: 20px;
  margin-bottom: 18px;
}
.card-selected h2 {
  color: #ffffff;
  font-size: 25px;
  padding-bottom: 5px;
}
.card-selected p {
  font-size: 15px;
  text-align: center;
  color: #959eac;
  line-height: 25px;
  opacity: 0.8;
  padding-bottom: 18px;
}
.card-selected .return {
  letter-spacing: 2px;
  font-weight: 500;
  text-transform: uppercase;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  background-color: #fb7413;
  color: #ffffff;
  border-radius: 20px;
  padding-block: 13px;
  transition: 0.4s;
}
.card-selected .return:hover {
  filter: brightness(150%);
}

.inactive {
  display: none;
}

.card-rating .start {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  margin-bottom: 20px;
  background-color: rgba(124, 135, 152, 0.2117647059);
}
.card-rating h1 {
  font-size: 28px;
  padding-bottom: 15px;
  color: #ffffff;
}
.card-rating p {
  font-size: 15px;
  color: #959eac;
  opacity: 0.8;
  line-height: 25px;
  padding-bottom: 25px;
}
.card-rating .rating {
  display: flex;
  align-items: center;
  gap: 20px;
  padding-bottom: 30px;
}
.card-rating .rating .rating-btn {
  color: #ffffff;
  background-color: rgba(124, 135, 152, 0.2117647059);
  width: 50px;
  height: 50px;
  border-radius: 50%;
  transition: 0.4s;
}
.card-rating .rating .rating-btn:hover {
  background-color: #959eac;
}
.card-rating .rating .rating-btn:focus {
  background-color: #fb7413;
}
.card-rating .submit {
  letter-spacing: 2px;
  font-weight: 500;
  text-transform: uppercase;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  background-color: #fb7413;
  color: #ffffff;
  border-radius: 20px;
  padding-block: 13px;
  transition: 0.4s;
}
.card-rating .submit:hover {
  filter: brightness(150%);
}

@media (max-width: 410px) {
  .card-rating .rating {
    gap: 15px;
  }
  .card-rating .rating .rating-btn {
    width: 41px;
    height: 41px;
  }
}

/*# sourceMappingURL=main.css.map */
