main {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  min-height: 100vh;
  background-color: $very-dark-blue;
  padding: 20px;
}

.card {
  width: 100%;
  max-width: 410px;
  height: 417px;
  background-color: $dark-blue;
  padding: 35px;
  margin: 20px !important;
  border-radius: 20px;
  opacity: 0;
}

.swal2-popup {
  display: flex !important;
  align-items: center;
}
